<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.iot.nativekit">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />

    <application>
        <service
            android:name=".service.SyncService"
            android:exported="false"
            android:foregroundServiceType="dataSync|connectedDevice|location"
            android:stopWithTask="false" />
    </application>

</manifest>
